version: "3.8"

services:
  airflow:
    image: apache/airflow:2.8.4
    container_name: airflow
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - C:/Users/Surya/AppData/Roaming/gcloud:/home/airflow/.config/gcloud

    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    command: standalone
